.auth-cont {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(./../../assets/img/auth/bg.jpg);
  // .auth-bg {
  //   width: 100%;
  //   flex: 0 0 calc(100% - 500px);
  //   max-width: calc(100% - 500px);
  //   background-image: url(./../../assets/img/auth/auth-overlay-2.svg);
  //   background-repeat: no-repeat;
  //   background-size: 80%;
  //   background-position: center bottom 10%;
  // }
  .auth-wrap {
    flex: 0 0 400px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .auth-head {
      margin-bottom: 1.5rem;
      .logo {
        max-width: 10rem;
        margin: auto;
        .logo-img {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    .auth-box {
      > .MuiPaper-root {
        height: 100%;
        padding: 2rem;
      }
    }
  }
}
