@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
@import "./mixins";

$white: #fff;
$black: #000;

$primary: #004c8c;
$secondary: #0076d1;
$danger: #a0000f;
$info: #3aa4d9;
$warning: #ff7c00;
$success: #28a745;

$gray-1: #a3a3a3;

$base-font: "Roboto", sans-serif;
$bg-gray-1: #eceff1;
